@inherits LayoutComponentBase
<NavMenu />
<div class="page">
    <header>
        
    </header>

    <main>
        <div class="top-row px-4 d-flex justify-content-end">
            <a href="https://www.isp20.edu.ar" target="_blank">Isp20</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    un error ha ocurrido.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
