<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow rounded-4" style="background-color: DodgerBlue;">
            <div class="card-body text-center">
                <h2 class="text-white fw-bold mb-1">@Titulo</h2>
                <div class="text-light" style="color: LightBlue;">@Descripcion</div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Titulo { get; set; } = "Título no definido";
    [Parameter]
    public string Descripcion { get; set; } = "Descripción no definida";

}
