@page "/admin/generos"
@inject NavigationManager _navigationManager
@inject IGenericService<Genero> _generoService
@inject SweetAlertService _sweetAlert
@rendermode InteractiveServer
<EncabezadoPage Titulo="Administración de Géneros" Descripcion="Gestiona los géneros de los libros en la plataforma" />
<div class="container py-4">
    <SeccionBtnNuevoMostrarEliminados @bind-MostrarEliminados="MostrarEliminados" OnAfterMostrarEliminados="GetGeneros" OnNuevo="Nuevo" />
    @if (isLoading)
    {
        <ActivityIndicator Mensaje="Cargando géneros..." />
    }
    else
    {
        @if (generos != null && generos.Count > 0)
        {
            <TablaIdNombreConFiltro ListEntity="@(generos.Cast<IEntityIdNombre>().ToList())" OnEliminar="Eliminar" OnModificar="Modificar" MostrarEliminados="MostrarEliminados" OnRestaurar="Restaurar"></TablaIdNombreConFiltro>
            <NuevoEditarIdNombre Titulo="Género" Entity="@generoCurrent" OnGuardar="Guardar"></NuevoEditarIdNombre>
        }
        else
        {
            @if (MostrarEliminados)
            {
                <div class="alert alert-info" role="alert">
                    No hay generos eliminados.
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    No hay generos registrados.
                </div>
            }
        }
    }

</div>

@code {
    List<Genero>? generos = new();
    Genero generoCurrent = new();
    public bool MostrarEliminados { get; set; } = false;

    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await GetGeneros();
    }
    private void Modificar(IEntityIdNombre entity)
    {
        generoCurrent = (Genero)entity;
    }
    private void Nuevo()
    {
        generoCurrent = new();
    }
    private async Task Eliminar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "Eliminando género",
            Text = $"¿Está seguro que desea borrar el género {entity.Nombre}",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, quiero borrarlo!",
            CancelButtonText = "No, espera"
        });
        if (respuesta.IsConfirmed)
        {
            try
            {
                isLoading = true;
                await _generoService.DeleteAsync(entity.Id);
                generos = await _generoService.GetAllAsync();
                await _sweetAlert.FireAsync("Eliminado", "El género ha sido eliminado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al eliminar el género.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
    private async Task Guardar(IEntityIdNombre entity)
    {
        try
        {
            isLoading = true;
            Genero generoToSave = (Genero)entity;
            if (generoToSave.Id == 0)
            {
                await _generoService.AddAsync(generoToSave);
                await _sweetAlert.FireAsync("Creado", "El género ha sido creado exitosamente.", SweetAlertIcon.Success);
            }
            else
            {
                await _generoService.UpdateAsync(generoToSave);
                await _sweetAlert.FireAsync("Actualizado", "El género ha sido actualizado exitosamente.", SweetAlertIcon.Success);
            }
            generos = await _generoService.GetAllAsync();
        }
        catch (Exception)
        {
            await _sweetAlert.FireAsync("Error", "Hubo un error al guardar el género.", SweetAlertIcon.Error);
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }
    private async Task GetGeneros()
    {
        isLoading = true;
        try
        {
            if (MostrarEliminados)
                generos = await _generoService.GetAllDeletedsAsync();
            else
                generos = await _generoService.GetAllAsync();
        }
        catch (Exception)
        {
            // Manejar errores aquí (por ejemplo, mostrar un mensaje al usuario)
        }
        finally
        {
            isLoading = false;
            //StateHasChanged();
        }
    }

    private async Task Restaurar(IEntityIdNombre entity)
    {
        SweetAlertResult respuesta = await _sweetAlert.FireAsync(new SweetAlertOptions
        {
            Title = "Restaurando género",
            Text = $"¿Está seguro que desea restaurar el género {entity.Nombre}?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Si, quiero restaurarlo!",
            CancelButtonText = "No, espera"
        });
        if (respuesta.IsConfirmed)
        {
            try
            {
                isLoading = true;
                await _generoService.RestoreAsync(entity.Id);
                generos = await _generoService.GetAllDeletedsAsync();
                await _sweetAlert.FireAsync("Restaurado", "El género ha sido restaurado exitosamente.", SweetAlertIcon.Success);
            }
            catch (Exception)
            {
                await _sweetAlert.FireAsync("Error", "Hubo un error al restaurar el género.", SweetAlertIcon.Error);
            }
            finally
            {
                isLoading = false;
            }
        }
    }
}
